#editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 20px;
	left: 0;
	font-size: 16px;
	transition: bottom 300ms;
	-moz-transition: bottom 300ms;
	-webkit-transition: bottom 300ms;
	-o-transition: bottom 300ms;
}

#tab {
	position: absolute;
	z-index: 99;
	left: 0;
	top: 0;
	bottom: 20px;
}

#tab ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
	display: table;
	border-spacing: 0 5px;
}
#tab li {
	display: table-row;
}
#tab li div {
	display: table-cell;
	width: 4px;
	border-radius: 0 8px 8px 0;
	background-color: rgb(117, 119, 111);
	box-shadow: 0 0 2px rgb(187, 189, 181);
	-webkit-box-shadow: 0 0 2px rgb(187, 189, 181);
	-moz-box-shadow: 0 0 2px rgb(187, 189, 181);
	-o-box-shadow: 0 0 2px rgb(187, 189, 181);
}
#tab li.active div {
	background-color: rgb(217, 219, 211);
	box-shadow: 0 0 5px white;
}
#tab li:hover div {
	background-color: rgb(177, 179, 171);
}
#tab li.active:hover div {
	background-color: rgb(207, 79, 71);
	box-shadow: 0 0 5px rgb(207, 109, 101);
}
#tab li#add div {
	height: 32px;
}

#log {
	z-index: 99;
	background-color: rgb(200, 234, 200);
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	font: 15px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	transition: height 300ms;
	-moz-transition: height 300ms;
	-webkit-transition: height 300ms;
	-o-transition: height 300ms;
}
#log:hover {
	height: 20%;
}
#log:hover+#editor {
	bottom: 20%;
}
#log:hover>#log_content {
	overflow: auto;
}
#log_head {
	height: 100%;
	float: left;
	vertical-align: top;
	padding-left: 9px;
	padding-right: 9px;
	background-color: rgb(200, 200, 200);
}
#log_content {
	height: 100%;
	vertical-align: top;
	padding-left: 12px;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	word-wrap: break-word;
	word-break: normal;
}

#image {
	background-color: white;
	z-index: 100;
	position: fixed;
	height: 450px;
	width: 300px;
	right: 50px;
	bottom: 100px;
	opacity: 0.2;
}
#image:hover {
	opacity: 1;
}
#image>svg {
	height: 100%;
	width: 100%;
}

#image>#left {
	background-color: transparent;
	position: absolute;
	height: 100%;
	width: 5px;
	left: -5px;
}
#image>#left:hover {
	cursor: w-resize;
}
#image>#right {
	background-color: transparent;
	position: absolute;
	height: 100%;
	width: 5px;
	right: -5px;
}
#image>#right:hover {
	cursor: e-resize;
}
#image>#top {
	background-color: transparent;
	position: absolute;
	width: 100%;
	height: 5px;
	top: -5px;
}
#image>#top:hover {
	cursor: n-resize;
}
#image>#bottom {
	background-color: transparent;
	position: absolute;
	width: 100%;
	height: 5px;
	bottom: -5px;
}
#image>#bottom:hover {
	cursor: s-resize;
}